body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
  background-image: url("10.jpg");
  background-size: cover;              
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.navbar {
  background: #1e3a5f;
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
}

.logout {
  background: #2563eb;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
}


.container {
  padding: 25px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.card h3 {
  margin-top: 0;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  background: rgba(255,255,255,0.2);
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


.blue { background: #2563eb; }
.green { background: #16a34a; }
.orange { background: #f97316; }


.table-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

th {
  background: #f8fafc;
}


.status {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}

.pending {
  background: #fde68a;
}

.transit {
  background: #93c5fd;
}

.delivered {
  background: #86efac;
}
